---
import HeadNav from "../HeadNav.astro";
import Base from "../base/Base.astro";
import Container from "../ui/Container.astro";
---

<Base>
    <HeadNav/>
    <Container size="full">
        <div class="mt-2">
            Hello
        </div>
    </Container>
</Base>
