---
import Layout from '../layouts/Layout.astro';
const locals = Astro.locals;
const ENVIRONMENT = locals.runtime.env.ENV;
---

<Layout>
	<h1 class="text-3xl font-bold underline">
		ENVIRONMENT: {ENVIRONMENT}
	</h1>
</Layout>
